*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




header{
  background-color: rgb(116, 202, 252);
  display: flex;
  justify-content: center;
  padding: 1rem;
  
  
}

header .menu{
  display: flex;
  justify-content: space-between ;
  background-color: darkorange;
  width: 70%;
  align-items: center;
  border: 3px dotted black;
  padding: 0.5rem;
}

nav ul{
  list-style: none;
  display: flex;
}

nav ul li{
  margin-right: 5px;
}



.jumbotron{
  background-color: blue;
  height: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 3px solid  rgb(116, 202, 252);
}

.jumbotron .sottojumbotron{
  background-color: fuchsia;
  width: 54%;
  height: 300px; 
}





main{
  justify-content: center;
  width: 100%;

}

main div.blue-pink1{
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blue-pink2{
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgrey;
}

.blue{
  display: flex;
  background-color: dodgerblue;
  height: 70%;
  width: 40%;
}

.pink{
  display: flex;
  background-color: pink;
  height: 70%;
  width: 25%;
}


.green{

  
}